APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

OAUTH_CLIENT_ID=2
OAUTH_CLIENT_SECRET=

MOBILE_APP_NAME=mi-universidad-mobile

IONIC_API_ENDPOINT_URL=https://api.ionic.io/
IONIC_API_PUSH_PROFILE=
IONIC_API_TOKEN=

ITEMS_PER_PAGE_DEFAULT=20
ITEMS_PER_PAGE_CALENDAR=100
PUSH_NOTIFICATIONS_ENABLED=true

